<p id="notice"><%= notice %></p>

<h1>Listing Tours</h1>
<ul>
  <% @tours.each do |tour| %>
    <li><%= link_to tour.title, tour_path(tour) %></li>
  <% end %>
</ul>
<p>Categories:</p>
<UL>
  <% Category.all.each do |category| %>
  <li> <%= link_to category.name, category_tours_path( category) %></li>
  <% end %>
</UL>
<br>
<%= link_to 'New Tour', new_tour_path %>
